<div class="row">
<div class="card container" style="width: 50%;">
  <img src="https://img.20mn.fr/sIChN5W-TCG0VWSpGYJYLw/1200x768_tous-trolls" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @user.first_name%><%= @user.last_name%></h5>
    <p class="card-text"><%= @user.description%></p>
    <p class="card-text">Email :<%= @user.email%></p>
    <p class="card-text">Age :<%= @user.age%></p>
    <p class="card-text">Ville :<%= @city.name%></p>
  </div>
</div>
</div>