<p class="h1 text-center">Potin n° <%= params[:id]%></p>
<br>
<p class="h2 text-center">Titre : <%= @gossip.find(params[:id]).title%></p>
<br>
<p class="text-center"><%= @gossip.find(params[:id]).content%></p>
<br>
<p class="text-center">Auteur : <%= @user.find(@gossip.find(params[:id]).user_id).first_name%>
  <%= @user.find(@gossip.find(params[:id]).user_id).last_name%></p>
<div class="text-center">
  <a href="<%= author_id_path(@findgossip.user_id)%>" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Plus d'informations sur l'auteur</a>
</div>
<p class= "text-center" > Ville de l'auteur : <%= @city.find(@user.find(@gossip.find(params[:id]).user_id).city_id).name%> </p>

<div class="text-center">
  <a href="<%= edit_gossip_path(@findgossip.id)%>" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Editer le potin</a>
</div>

